{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block headline %}Edit Post{% endblock %}

{% block main_content %}
    <form action="/posts/{{post.id}}/edit" method="POST">
        <p>Title
            <input type="text" name="title" value="{{post.title}}">
        </p>

        <p>Content
            <input type="text" name="content" value="{{post.content}}">
        </p>

        <p>Tags: </p>
        {% for tag in tags %}
        <p><input type="checkbox" name="tag-check" value="{{tag.name}}"
            {% if tag in post.tags %}
            checked
            {% endif %}> {{tag.name}}</p>
        {% endfor %}

        <a href="/users/{{post.user.id}}">Cancel</a>
        <button type="submit">Edit</button>
    </form>
{% endblock %}