{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block headline %}Create a user{% endblock %}

{% block main_content %}
    <form action="/users/new" method="POST">
        <label for="">
            First Name
            <input type="text" name="first_name" placeholder="Enter a first name">
        </label>

        <label for="">
            Last Name
            <input type="text" name="last_name" placeholder="Enter a last name">
        </label>

        <label for="">
            Image URL
            <input type="text" name="image_url" placeholder="Provide an image of this user">
        </label>

        <button>Add</button>
    </form>
{% endblock %}